@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --rose-gold: #B76E79;
  --lilac: #C8A2C8;
  --burgundy: #800020;
  --emerald-green: #133631;
  --brown: #C9AB81;
  --light-brown: #D4BFA2;
  --gray: #F3F3F3;
  --white: #FFFFFF;
  --black: #000000;
  --font-gray: #2D2A27;
  --font-black: #000000;
  --font-base: 'Montserrat', sans-serif;
  --font-secondary: 'Poiret One', cursive;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: var(--font-base);
  font-size: 100%;
  /*background-color: var(--gray);*/
}

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-content: stretch;
  flex-wrap: wrap;
}

#root header {
  position: absolute;
  height: 17vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  /*background-color: #f5f5f5;*/
  padding: 9px 20px;
  /*box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);*/
}

#root header .logo-header {
  height: 50%;
  margin-bottom: 1.5%;
}

#root .login-body {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-image: url(../assets/bg-main.png);
  background-size: 100% auto;
  background-position: center;
  align-items: center;
}

#root .login-body .login-container {
  position: relative;
  height: 35vh;
  width: 42vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  /*background-color: var(--brown);*/
  border: 0px solid var(--black);
  /*border-radius: 1.9rem;*/
}

#root .login-body .login-container:before {
  content:"";
  position:absolute;
  inset:0px 105px 0px 105px;
  border:3px solid #0000;
  border-image:linear-gradient(0deg,black 30%,#0000 0 80%,black 0) 1;
}

#root .login-body .login-container h1 {
  height: 22%;
  display: flex;
  align-items: flex-end;
  /*font-weight: bolder;*/
  font-size: 1.7rem;
  margin-bottom: 2%;
  color: transparent;
}

#root .login-body .login-container .principal-form {
  height: 100%;
  width: 100%;
  text-align: center;
}

#root .login-body .login-container .principal-form .form-group {
  height: 30%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: stretch;
}

/* label {
  margin-bottom: 5px;
} */

#root .login-body .login-container .principal-form .form-group input {
  width: 64%;
  height: 55%;
  border-radius: 4px 4px 0 0;
  border: 0;
  outline: 0;
  border-bottom: 2px solid var(--black);
  font-family: var(--font-secondary);
  font-size: 1.3rem;
  padding: 5px 10px;
  font-weight: lighter;
  background: rgba(183, 110, 121, 0.7);
}

#root .login-body .login-container .principal-form .form-group .error-message {
  position: absolute;
  top: 80%;
  font-size: 12px;
  color: var(--burgundy);
  font-weight: 700;
  background: rgba(255, 255, 255, 0.7);
}

#root .login-body .login-container .principal-form .form-group input:focus {
  border-color: var(--burgundy);
}

#root .login-body .login-container .principal-form .form-group input::placeholder {
  color: white;
}

[placeholder]:focus::-webkit-input-placeholder {
  transition: text-indent 0.4s 0.4s ease;
  text-indent: -100%;
}

#root .login-body .login-container .principal-form .form-group .submit-btn {
  height: 89%;
  width: 44%;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: var(--burgundy);
  font-family: var(--font-base);
  font-size: 1.6rem;
  color: #fff;
  cursor: pointer;
  align-self: flex-end;
  margin-top: 3%;
}

/* .submit-btn:hover {
  background-color: var(--rose-gold);
} */


/* .hide {
  display: none !important;
}

.show {
  display: flex !important;
} */

/* First Try *****************************************************************************
header {
  height: 17vh;
  width: 100vw;
  background-color: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
}*/

/*li {
  list-style: none;
}*/

/*nav li a {
  font-size: 20px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: left;
  color: black;
  text-decoration: none;
  display: block;
  padding: 23px;
}*/

/*div p {
  font-size: 20px;
}

a:hover{
  border-bottom: 3px solid  #F3C13F;
}

.logo-header {
  height: 50%;
}*/

/*.login-container {
  height: 42vh; 
  width: 42vw; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: var(--brown);
  border: 1px solid #ccc;
  border-radius: 1.9rem;
}

h1 {
  height: 25%;
  display: flex;
  align-items: flex-end;
  font-weight: bolder;
  font-size: 1.7rem;
  margin-bottom: 2%;
}

.principal-form {
  height: 100%;
  width: 100%;
  text-align: center;
}*/

/*.form-group {
  height: 30%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: stretch;
}

.error-message {
  position: absolute;
  top: 80%; 
  font-size: 12px;
  color: white;
}*/


/* label {
  margin-bottom: 5px;
} */

/*input {
  width: 64%;
  height: 50%;
  border-radius: 4px 4px 0  0;
  border: 0;
  outline: 0;
  border-bottom: 2px solid var(--black);
  font-family: var(--font-secondary);
  font-size: 1.3rem;
  padding: 5px 10px;
  font-weight: bold;
  background-color: var(--light-brown);
}

input:focus {
  border-color: var(--burgundy);
}

[placeholder]:focus::-webkit-input-placeholder {
  transition: text-indent 0.4s 0.4s ease; 
  text-indent: -100%;
  opacity: 1;
}

.submit-btn {
  height: 89%; 
  width: 46%;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: var(--font-black);
  font-family: var(--font-base);
  font-size: 1.6rem;
  color: #fff;
  cursor: pointer;
  align-self: flex-end;
}

.submit-btn:hover {
  background-color: #0069d9;
}
*/
/*End of the first try*/
/***************************************************************************/




/*:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
*/


/*header {
  height: 17vh;
  width: 100vw;
  background-color: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
}*/

/*li {
  list-style: none;
}

nav li a {
  font-size: 20px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: left;
  color: black;
  text-decoration: none;
  display: block;
  padding: 23px;
}

div p {
  font-size: 20px;
}

a:hover {
  border-bottom: 3px solid #F3C13F;
}
*/

/*.square {
  position: absolute;
  background-color: red;
  height: 100%;
  border: solid;
  width: 50%;
  z-index: 3;
}*/


/* .square:after {
  inset:-50px;
  border-image:linear-gradient(-45deg,green 20%,#0000 0 80%,green 0) 10;
} */
