#root .header-loggedin {
    position: absolute;
    height: 17vh;
    width: 80vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /*background-color: #f5f5f5;*/
    padding: 9px 20px;
    /*box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);*/
  }
  
  #root .header-loggedin .logo-header-loggedin {
    height: 50%;
    margin-bottom: 1.5%;
    padding: 0 0 0 20px;
  }
  