@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

.menu-button {
  width: 20vw;
  height: 17vh; 
  position: absolute;
  top: 0px;
  right: 0px;
  /*margin-right: 4.2%;*/
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: transparent;
  border: none;
  /*padding: 10px;*/
  /*padding: 2% 3.5% 0 0;*/
  /*cursor: pointer;*/
  cursor: default;
  z-index: 2;
}

.menu-button .move-left {
  transform: translateX(-180px);
}

.menu-button img {
  height: 50%; 
  margin-right: 20%;
}

.menu {
  position: fixed;
  top: 0;
  /*right: -200px;*/
  right: -320px;
  height: 100vh;
  /*width: 200px;*/
  width: 320px;
  background-color: #f9f9f9;
  /*padding: 20px;*/
  /*padding: 145px 0 0 50px;*/
  transition: right 0.3s ease-in-out;
  z-index: 1;
  display: flex;
}

.menu.open {
  right: 0;
  width: 31vw;
}

.menu ul {
  width: 100%;
  list-style: none;
  /*margin: 0;*/
  padding: 0;
  font-family: 'Poiret One', cursive;
  margin-top: 45%;
}

.menu li {
  margin-left: 25%;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.menu ul li img {
  height: 20px;
}

.menu a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}

li {
  list-style: none;
}

nav li a {
  font-size: 20px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: left;
  color: black;
  text-decoration: none;
  display: block;
  padding: 23px;
}

/* div p {
  font-size: 20px;
} */

a:hover {
  border-bottom: 3px solid #F3C13F;
}